.form-down{
    background: lightgray;
    height: 35rem;
}

.form-record{
    margin-left: 32rem;
}

.main-row{
    margin-bottom: 2rem;
}

.btn-link{
    margin-top: 10px;
    margin-left: 25px;
}

.card-index{
    width: 18rem;
    margin-left: 2rem;
}

.telo{
    height: 65px;
}

.redzvezda{
    color: red;
}

.btn-primary{
    width: 170px;
}

.row-service{
    margin-bottom: 20px;
}

.row-stroka{
    margin-bottom: 10px;
}

.card-1{
    width: 20rem;
}

.card-2{
    width: 20rem;
    margin-left: 7rem;
}

.card-3{
    width: 20rem;
    margin-left: 15rem;
}

.phot{
    margin-left: -200px;
}

h1{
    text-align: center;
}

.panel{
    text-align: center;
    font-family:Tahoma, sans-serif;
    margin-top: 50px;
    vertical-align: bottom;
}

.panel a+a{
    margin-left: 20px;
}

.panel2{
    text-align: center;
    font-family:Tahoma, sans-serif;
    margin-top: 200px;
    vertical-align: bottom;
}

.panel2 a+a{
    margin-left: 20px;
}

p{
    text-align: center;
    font-family:Tahoma, sans-serif;
    font-size: 14pt;
}